html {
    font-size: 62.5%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 40;
    font-stretch: semi-condensed;
    color: rgb(67, 67, 67);
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block !important;
}

.pr {
   font-weight: 400;
   font-stretch:semi-expanded;
   display: flex;
   justify-content:center;
   
}
.pr :hover{
    color: rgb(204, 122, 0);
    text-decoration: none;
}


/*BOTONES**/
.boton {
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #e08709;
    text-decoration: none;
    color: #f5f5f5;
}

.boton-verde {
    background-color: #71b100;
    text-decoration: none;
    color: #f5f5f5;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

.contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido h1 {
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
    max-width: 70rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#barra {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3rem;

}

nav a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover {
    color: rgb(0, 0, 0)
}

#computadora {
    background-color: #e08709;
    text-align: center;

}

#heder {
    background-image: url("/img/Sin\ título-3.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

.contenedor-anuncio {
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex-basis: calc(33.33% - 1rem);
    border: 1px, solid, rgb(0, 0, 0);
    background-color: #f5f5f5;
}

.contenedor-anuncio {
    padding: 2rem;
}

.contenedor-anuncio h3 {
    margin: 0;
}

.contenedor-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.imagen-contacto {
    background-image: url(https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHBhcGVyJTIwbGFwdG9wfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.contenido-contacto {
    flex: 1;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

.iconos-caracteristica {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristica li {
    flex: 1;
    display: flex;
}

.iconos-caracteristica li img {
    margin-right: 0rem;
}

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada h4 {
    margin: 0;
}

.texto-entrada h4::after {
    content: "";
    display: block;
    width: 15rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.texto-entrada a {
    color: #0300c9;
    text-decoration: none;
}

.texto-entrada span {
    color: chocolate;
}

.testimonial {
    background-color: chartreuse;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffff;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.testimonial p {
    text-align: right;
}

.testimonial blockquote::before {
    content: "";
    background-image: url(/img/Sin\ título-2.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
}

.testimonial blockquote {
    position: relative;
}

.site-footer {
    background-color: rgb(53, 53, 53);
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copy {
    margin: 0;
    color: #ffff;
}